<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Page </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
   <div class="row justify-content-center">
       <div class="col-md-8">
            <h2>user dashboard</h2>
            <p><b>Name </b>{{ user.name}}</p>
            <p><b>Email </b>{{ user.email}}</p>

            <p><b>Password </b>{{ user.password}}</p>
            <a href="/logout" class="btn btn-danger">Logout</a>
           
       </div>

    </div>
  
</div>

</body>
</html>
